<div class="container-fluid ">
    <div class="row">
        <div class="bg-info-subtle col-2 vh-100">
            <div class="fs-6 fw-medium pt-3 dash-class">
                <div class="align-items-center d-flex justify-content-center w-100" style="height: 10%;">
                    Dashboard
                </div>
                <hr>
            </div>
            <div>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <!-- <i class="bi bi-book"></i> -->
                            <svg class="bi me-2" width="16" height="16">
                                <!-- <use xlink:href="#home"></use> -->
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <!-- <use xlink:href="#speedometer2"></use> -->
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <!-- <use xlink:href="#table"></use> -->
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <!-- <use xlink:href="#grid"></use> -->
                            </svg>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <!-- <use xlink:href="#people-circle"></use> -->
                            </svg>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div class="navbar bg-info-subtle row main-content align-items-center">
                <div class="col text-end">
                    <img src="./assets/images/college.png" width="55" height="50" class="">
                </div>
                <div class="col text-end">
                    <span title="Logout">
                    <a class="navbar-brand" href="#">
                        <i class="bi bi-power"></i>
                    </a>
                </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="align-items-center bg-info container-fluid d-flex fs-5 fw-medium horizontal-nav">
    <i class="bi bi-book px-2"></i>
    <span title="My College">My College</span>
</div>

<div class="bg-info" style="width: 15%; height: 100vh;">
h
</div> -->